.cluster-icon-wrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
    background: rgba(255, 111, 97, 0.9) !important; /* Coral Soft con mayor opacidad */
    border: 3px solid #FFB774 !important; /* Borde Soft Orange */
    width: 50px !important;
    height: 50px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añadir sombra para resaltar el ícono */
}

.cluster-icon-wrapper.small {
    width: 25px !important;
    height: 25px !important;
}

.cluster-icon-wrapper.medium {
    width: 35px !important;
    height: 35px !important;
}

.cluster-icon-wrapper.large {
    width: 50px !important;
    height: 50px !important;
}


.cluster-icon {
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
}
.map-container {
    display: flex;
    height: 100vh;
    margin:20px
  }
  
  .sidebar {
    width: 50%;
    background-color: #f5f5f5;
    overflow-y: auto;
  }
  