.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fullscreen-content {
  width: calc(100% - 4cm);  /* Ancho completo menos 2cm (1cm de cada lado) */
  margin: 1cm auto;  /* Margen de 1cm a cada lado */
  height: calc(100vh - 4cm);  /* Altura completa de la pantalla menos 2cm para los márgenes */
}
